/*==============================
=            Footer            =
==============================*/

footer.site-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: $size__footer-height;
	background-color: $dark-blue;
	margin-top: 3rem;

	.site-info {
		padding: 2rem 0.5rem 0;
		color: $white;
	}

	// Description & Disclaimer
	.footer-info {
		@include breakpoint("medium") {
			padding-right: 3rem;
		}

		img {
			margin-bottom: 1.5rem;
		}

		a {
			color: $gray;
			&:hover { color: $white; }
		}
	}

	// Contact Info
	.footer-social { 
		list-style: none; 
		padding: 0;
	}
	.footer-social li {
		display: inline-block;
		margin-right: 0.5rem;

		a {
			background-color: $orange;
			border-radius: 50%;
			text-align: center;
		    padding: 1rem;
		    position: relative;
		    display: inline-block;
		    vertical-align: middle;
		    position: relative;
		    color: $dark-blue;

	    	&:hover { background-color: $dark-orange; }
		}

		i {
			position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%, -50%);
		}
	}

	// Newsletters
	.footer-newsletters {
		@include breakpoint("medium") {
			padding-left: 1.5rem;
		}
	}

	.section-title {
		@extend %subheading;
		color: $white;
		margin: 0 0 0.5rem;
	}

	.newsletter-desc {
		@extend %body-small-gray;
		margin-bottom: 0;
	}

	.footer-copyright {
		@extend %body-small-gray;
	}
}
