/*==============================
=            Footer            =
==============================*/

.site-footer {
	position: relative;
	background-image: url($img__footer-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	background-color: $dark-blue;

	@include breakpoint("medium") {
		position: fixed;
		z-index: -1;
		bottom: 0;
		left: 0;
		right: 0;
		height: $size__footer-height;
	}

	.site-info {
		padding: 3rem 0.5rem 0;
		color: $white;
	}

	// CSIS Logo
	.footer-logo {
		margin-bottom: 1rem;
		img {
			display: block;

			@include breakpoint("medium") {
				max-width: 45%;
			}
		}
	}

	// Description & Disclaimer
	.footer-info {
		@include breakpoint("medium") {
			padding-right: 3rem;
		}

		a {
			color: $blue-gray;
			&:hover { color: $white; }
		}

		p {
			@include fontSize(16px);
			line-height: 1.5;
			margin-bottom: 1rem;
		}
	}

	// Contact Info
	.footer-social { 
		list-style: none; 
		padding: 0;
	}
	.footer-social li {
		margin-bottom: 0.25rem;

		i {
			@include fontSize(20px);
			margin-right: 0.75rem;
			vertical-align: middle;
			color: $white;
		}
	}

	// Newsletters
	.footer-newsletters {
		@include breakpoint("medium") {
			padding-left: 1.5rem;
		}
	}

	.section-title {
		@extend %subheading;
		color: $white;
		margin: 0 0 0.5rem;
	}

	.newsletter-desc {
		@extend %body-small-gray;
		margin-bottom: 0;
	}

	.btn {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.footer-copyright {
		@extend %body-small-gray;
	}
}
