/*==============================
=            Header            =
==============================*/

.main-navigation {

    .menu-toggle {
        @include breakpoint("medium") {
            display: none;
        }
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        &:hover {
            .submenu-container { display: block; }
        }
    }

    .submenu-container {
        display: none;
    }
}