.widget {
	margin: 4rem 2rem;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	.widget-title {
		@extend %subheading;
		color: $gray;
		margin-top: 0;
		border-bottom: 2px solid $light-gray;
	}

	p {
		@extend .body-small;
	}

}
