/*============================================
=            Aerospace Shortcodes            =
============================================*/

/*----------  View  ----------*/
.view-post {
	font-family: $font__abel;
	margin: 0.25rem 0;

	i {
		color: $orange;

		a:hover & { color: $dark-orange; }
	}

	a,
	a:visited {
		box-shadow: none;
		color: $black;

		&:hover { color: $dark-blue; }
	}

	&-verb {
		color: $orange;
		text-transform: uppercase;
		margin: 0 0.25rem;

		a:hover & {
			color: $dark-orange;
		}
	}
}

/*----------  ASP Aircraft  ----------*/
.img-aircraft {
    max-width: 7px;
    max-height: 15px;
    margin-left: 5px;
}

/*----------  External Publications  ----------*/
.post-external-publication {
	max-width: 60%;
	margin: 1.5rem auto;
	background-color: $off-white;
	padding: 1rem;
	font-family: $font__abel;
	text-align: center;

	a {
		box-shadow: none;
	}

	&-title {
		font-style: italic;
	}
}

/*----------  Full Width Content  ----------*/
.fullWidthFeatureContent {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;

    .fullWidthInner {
        margin: 0 auto;

        // On small screens, we always want to override the inline styles and set a max width of less than the full width.
        &[style] {
        	@media screen and (max-width: $breakpoint-medium) {
        		max-width: 90% !important;
        	}
        }
    }

    .overlay-isActive & {
        position: static;
    }

    @include breakpoint("medium") {
        .sharing-shareBtns.isVisible {
            max-width: $size__content-max-width;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
