button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn
{
	display: inline-block;
	background-color: $color__background-button-blue;
	font-family: $font__abel;
	@include fontSize(16px);
	line-height: 1;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	color: $white;

	&:hover { background-color: $color__background-button-blue-hover; }
}

.btn {
	&.btn-sm {
		@include fontSize(14px);
		letter-spacing: 0.5px;
	}

	&.btn-lg {
		@include fontSize(18px);
	}

	&.btn-blue {
		background-color: $color__background-button-blue;

		&:hover {
			background-color: $color__background-button-blue-hover;
		}
	}

	&.btn-orange {
		background-color: $color__background-button-orange;
		color: $white;

		&:hover {
			background-color: $color__background-button-orange-hover;
			color: $white; 
		}
	}

	&.btn-transparent {
		background-color: transparent;
		margin: 0;

		&:hover { background-color: transparent; }
	}

	&.btn-gray {
		background-color: $color__background-button-gray;
		color: $black;

		&:hover {
			background-color: $color__background-button-gray-hover;
			color: $white;
		}
	}
}