button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn
{
	display: inline-block;
	background-color: $color__background-button-blue;
	font-family: $font__abel;
	@include fontSize(16px);
	line-height: 1;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-radius: 0;
	color: $white;
	@include transition(all 0.3s ease-in-out);

	&:hover { background-color: $color__background-button-blue-hover; }
}

a.btn {
	box-shadow: none;
}

.btn {

	&.btn-xs {
		@include fontSize(12px);
		letter-spacing: 0.4px;
		padding: 0.3rem 0.5rem;
	}

	&.btn-sm {
		@include fontSize(14px);
		letter-spacing: 0.5px;
	}

	&.btn-lg {
		@include fontSize(18px);
	}

	&.btn-xl {
		@include fontSize(22px);
		letter-spacing: 0.4px;
		padding: 0.75rem 1.5rem;
	}

	&.btn-blue {
		background-color: $color__background-button-blue;
		color: $white;

		&:visited {
			color: $white;
		}

		&:hover {
			background-color: $color__background-button-blue-hover;
			color: $white;
		}
	}

	&.btn-orange {
		background-color: $color__background-button-orange;
		color: $white;

		&:visited {
			color: $white;
		}

		&:hover {
			background-color: $color__background-button-orange-hover;
			color: $white; 
		}
	}

	&.btn-gray {
		background-color: $color__background-button-gray;
		color: $black;

		&:visited {
			color: $black;
		}

		&:hover {
			background-color: $color__background-button-gray-hover;
			color: $white;
		}
	}

	/*----------  Icons  ----------*/
	i {
		color: inherit;

		&:hover {
			color: inherit;
		}
	}

	&.btn-download {
		width: 100%;
		text-align: center;

		@include breakpoint("medium") {
			margin-bottom: 1rem;
		}

		i {
			@include fontSize(12px);
			margin-right: 0.3rem;
		}
	}
}