.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	overflow: hidden;

	img[class*="wp-image-"] {
		@include center-block;
	}

	p {
		margin-bottom: 0 !important;
	}
}

.wp-caption-text {
	@extend %caption;
    border-left: 3px solid $blue-gray;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
