/*=================================
=            Footnotes            =
=================================*/

.entry-content {
  .easy-footnotes-wrapper {
    display: none;
  }
}

.easy-footnotes-wrapper {
  counter-reset: item;
  margin: 0;
  padding: 0;
  list-style:none;

  li {
    @extend %list;
    position: relative;

    .easy-footnote-margin-adjust {
      position: static;
      margin-top: unset;
      width: 8px;
      display: inline-block;
    }

    a {
      float: left;
      margin-left: 0;
    }

    a::after {
      font-family: inherit;
      content: counter(item);
      counter-increment: item;
      @include fontSize(10px);
      line-height: 2.49;
      content: counter(item);
      position: absolute;
      top: -2px;
    }
  }
}
