/*=====================================
=            Header Search            =
=====================================*/

.site-header .search-container {
    order: 3;
    text-align: right;
    color: $white;
    font-size: 1.3em;

    @include breakpoint("medium") {
        font-size: 1em;
    }


    .search-overlay {
        position: absolute;
        z-index: 10;
        background-color: $primary-blue;
        top: $size__header-mobile-height;
        left: 0;
        right: 0;
        height: 100%;
        visibility: visible;
        @include transition(visibility 0s, opacity .5s cubic-bezier(.33, 0, .2, 1));

        @include breakpoint("medium") {
            top: 0;
            
            @include fullWidthBackground($primary-blue);
        }
    }

    .search-field {
        position: absolute;
        top: $size__header-mobile-height;
        left: 1rem;
        z-index: 20;
        margin: 0.4rem 0 0 0;
        background-color: transparent;
        border: 0;
        color: $white;
        width: 80%;
        opacity: 1;
        visibility: visible;
        height: 90%;
        font-size: 1.3em;

        @include transition(visibility 0s, opacity .5s cubic-bezier(.33, 0, .2, 1));

        @include breakpoint("medium") {
            top: unset;
            right: unset;
            height: auto;
            font-size: 1em;
                    margin: 0 0 0 0;

        }

        &::-webkit-input-placeholder {
            color: $blue-gray;
        }
    }

    .search-label {
        position: relative;
        z-index: 20; //top: 5px;
        &.is-hidden {
            visibility: visible;
            opacity: 1;
            @include breakpoint("medium") {
                display: none;
            }
        }
    }

    .search-close {
        display: inline-block;
        position: absolute;
        top: 125%;
        right: 1rem;

        @include breakpoint("medium") {
            position: relative;
            //top: 5px;
            right: unset;
        }

        &.is-hidden {
            display: none;
        }
    }

    .is-hidden {
        visibility: hidden;
        opacity: 0;
        @include transition(visibility 0s, opacity .5s cubic-bezier(.33, 0, .2, 1));
    }
}
