/*====================================
=            Interactives            =
====================================*/

/*----------  Interactive Embed  ----------*/
.interactive-heading { display: none; }
.data-fallbackImg ~ .data-iframe {
	display: none;

	@include breakpoint("medium") {
		display: inline;
	}
}

.data-fallbackImg {
	@include breakpoint("medium") {
		display: none;
	}

	p {
		@include fontSize(14px);
		font-style: italic;
	}
}
