/*==================================
=            Pagination            =
==================================*/

.pagination-totals {
	@extend %post-meta-content;
}

.pagination {
	text-align: right;

	span, a {
		margin: 0 0.2rem;
		padding: 4px 8px;
		font-family: $font__source;
		@include fontSize(16px);
		line-height: 1.34;
		font-weight: 300;
		box-shadow: none;
		text-align: center;
	}

	.dots {
		background-color: transparent !important;
		padding: 4px;
	}

	a {
		color: $black;

		&:hover {
			color: $orange;
		}
	}

	.current {
		position: relative;
		z-index: 10;
		color: $dark-blue;
		font-weight: bold;
		border-top: 2px solid $dark-blue;
	}

	.next,
	.prev {
		position: relative;
		color: $black;
		padding: 4px 0;

		&:hover {
			color: $orange;
		}
	}

	.disabled {display: none;}
}
