/*=================================
=            Post Meta            =
=================================*/

/*----------  Meta Labels  ----------*/
.meta-label {
  @extend %post-meta-label;
  text-transform: uppercase;
  color: $gray;
  display: inline-block;
  margin-right: 0.5rem;
}

.meta-content {
	@extend %post-meta-content;
	color: $black;
}

/*----------  Post Format/Content Type  ----------*/
.post-format {
  @extend %content-type;
  text-transform: uppercase;
}

/*----------  Authors List  ----------*/
.authors-list {
	display: inline-block;
	margin: 0;
	@extend %post-meta-content;

	a {
		@extend %box-shadow-link;
		color: $black;
	}
}

.authors-container {
	.subheading-lg {
		@extend %subheading-lg;
		text-transform: uppercase;
		margin: 0;
	}
}
.authors-list-extended {
	margin-top: 2rem;


	.entry-author {
		margin-bottom: 2rem;
	}

	.author-read-more {
		text-align: right;
		font-family: $font__abel;
		border-top: 1px solid $blue-gray;
		margin-top: 1rem;
		padding-top: 0.75rem;

		@include breakpoint("medium") {
			max-width: 60%;
			margin-left: auto;
			margin-right: 0;
		}
	}

	a {
		text-transform: none;
		color: $orange;
	}

	p {
		margin-bottom: 0;
	}
}

/*----------  Posted On  ----------*/
.posted-on {
	@extend .meta-content;
	display: inline-block;
	margin-bottom: 0;
}

/*----------  Categories  ----------*/
.cat-links {
	ul {
		padding: 0;
		list-style-type: none;
		display: inline;
		margin-left: 0.2rem;
		margin-bottom: 0;
	}

	li {
		@extend %content-type;
		display: inline;

		&::after {
			content: ", ";
		}

		&:last-of-type::after { content: none; }

		a {
			color: $black;

			&:hover { color: $secondary-blue; }
		}
	}
}

/*----------  Citation  ----------*/
.entry-citation {
	@extend %post-meta-content;

	p {
		margin: 0;
	}
}

/*----------  Location  ----------*/
.post-location {
	@extend %post-meta-label;
	margin-bottom: 0;

	@include breakpoint("medium") {
		margin-bottom: 1.5rem;
	}

	.meta-label {
		@include breakpoint("medium") {
			display: block;
		}
	}
}
