/*=================================
=            Post Meta            =
=================================*/

/*----------  Meta Labels  ----------*/
.meta-label {
  @extend %post-meta-label;
  text-transform: uppercase;
  color: $gray;
  display: inline-block;
  margin-right: 0.5rem;
}

.meta-content {
    @extend %post-meta-content;
    color: $black;
}

/*----------  Post Format/Content Type  ----------*/
.post-format {
  @extend %content-type;
  text-transform: uppercase;
}

/*----------  Featured Post  ----------*/
.post-is-featured {
    font-family: $font__source;
    @icnlude fontSize(16px);
    line-height: 1.34;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: $orange;
    margin-bottom: 0.5rem;

    svg {
        max-width: 7px;
        max-height: 15px;
        fill: $orange;
        margin-left: 0.2rem;
        margin-bottom: -2px;
    }
}

/*----------  Report Cover Overlay  ----------*/

.entry-report-thumbnail {
    position: relative;
    a:after {
        display: block;
        visibility: visible;
        opacity: 1;
        padding: 5px 15px;
        color: white;
        background-color: $orange;
        content: "\F2F5";
        font-family: "asp";
        font-size: 1em;
        position: absolute;
        top: 0;
        right: 0;
    }
    &:hover {
        text-align: center;
        a:before {
            display: table-cell;
            visibility: visible;
            opacity: 1;
            color: white;
            height: 50%;
            width: 100%;
            background-color: rgba($orange, .9);
            content: "View Online";
            font-family: $font__abel;
            font-size: 1.5em;
            position: absolute;
            vertical-align: bottom;
            top: 0;
            right: 0;
            padding-top: calc(50% - .1em);
        }
        a:after {
            display: table-cell;
            visibility: visible;
            opacity: 1;
            color: white;
            top: 50%;
            height: 50%;
            width: 100%;
            background-color: rgba($orange, .9);
            content: "\F2F5";
            font-family: "asp";
            font-size: 2em;
            position: absolute;
         
            right: 0;
        }
    }
}


/*----------  Authors List  ----------*/
.authors-list {
    display: inline-block;
    margin: 0;
    @extend %post-meta-content;

    a {
        @extend %box-shadow-link;
        color: $black;
    }
}

.authors-container {

    .subheading-lg {
        @extend %subheading-lg;
        text-transform: uppercase;
        margin: 2rem 0;
    }
}
.authors-list-extended {
    .entry-author {
        margin-bottom: 2rem;
    }

    @media only screen and (max-width: 36em){
    	.author-img {
	    	display: none;
	    }
	}
	@media only screen and (max-width: 36em){
    .author-img-mobile {
	    	display: block;
	    	float: right;
	    	padding: 0px 0px .2rem .5rem;
	    	width: 125px;
	    	height: auto;
    	}
	}
	    @media only screen and (min-width: 36em){
    	.author-img-mobile {
	    	display: none;
	    }

	}

    .author-read-more {
        text-align: right;
        font-family: $font__abel;
        border-top: 1px solid $blue-gray;
        margin-top: .5rem;
        padding-top: 0.25rem;
        max-width: 100%;
        clear: right;

        @include breakpoint("medium") {
            max-width: 60%;
            margin-left: auto;
            margin-right: 0;
        }
    }

    a {
        text-transform: none;
        color: $orange;

        &:hover {
            color: $dark-orange;
        }
    }

    p {
        margin-bottom: 0;
    }
}

/*----------  Posted On  ----------*/
.posted-on {
    @extend .meta-content;
    display: inline-block;
    margin-bottom: 0;
}

/*----------  Categories  ----------*/
.cat-links {
    ul {
        padding: 0;
        list-style-type: none;
        display: inline;
        margin-left: 0.2rem;
        margin-bottom: 0;
    }

    li {
        @extend %content-type;
        display: inline;

        &::after {
            content: ", ";
        }

        &:last-of-type::after { content: none; }

        a {
            color: $black;

            &:hover { color: $secondary-blue; }
        }
    }
}

/*----------  Citation  ----------*/
.entry-citation {
    @extend %post-meta-content;

    p {
        margin: 0;
    }
}
