/*=======================================
=            Related Content            =
=======================================*/

.explore-more-container {
	position: relative;
	background-color: $dark-blue;
	margin-top: 3rem;
	padding-top: 2rem;
	padding-bottom: 2rem;

	@include fullWidthBackground($dark-blue);

	@include breakpoint("medium") {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.subheading-lg {
		@extend %subheading-lg;
		color: $white;
		text-transform: uppercase;
		margin: 0 0 1.5rem;
	}

	.post-tags-container {
		margin-bottom: 2rem;

		.subheading {
			@extend %subheading;
			color: $blue-gray;
			display: inline;
		}

		ul {
			list-style: none;
			margin: 1rem 0 0 0;
			padding: 0;

			@include breakpoint("medium") {
				display: inline-block;
				margin: 0 0 -1.5rem 0.75rem;
			}
		}

		li {
			float: left;
			margin: 0 1rem 1rem 0;
		}

		a {
			display: block;
			padding: 0.5rem 1rem;
			background-color: $color__background-keywords;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 0.6px;
			line-height: 1;
			font-weight: 300;

			&:hover {
				background-color: $color__background-button-blue-hover;
			}
		}
	}

	.related-posts {
		position: relative;
		margin: 0;

		> :first-child {
			border-bottom: 1px solid $blue-gray;
			margin-bottom: 1rem;

			.related-post-img {
				left: calc(50% + 1rem);
			}

			@include breakpoint("medium") {
				border-bottom: 0;
				margin-bottom: 0;
			}
		}
	}

	.related-post {
		padding: 0 0 1rem;

		@include breakpoint("medium") {
			border-left: 1px solid $blue-gray;
			padding: 0 1rem;
		}

		&:hover {
			border-color: $orange;

			.related-post-img {
				visibility: visible;
				opacity: 1;
			}
		}

		&-img {
			display: none;

			@include breakpoint("medium") {
				display: block;
				position: absolute;
				right: calc(50% + 1rem);
				width: calc(50% - 1rem);
				height: 100%;
				overflow: hidden;
				visibility: hidden;
				opacity: 0;
				@include transition(visibility 0s, opacity .2s ease-in-out);
			}
		}

		&-title {
			@extend %archive-post-title;
			display: block;
			margin-top: 0.2rem;
			margin-bottom: 0.5rem;
		}

		&-content {
			.authors-list,
			.posted-on {
				display: block;
				color: $white;

				a:hover { color: $white; }
			}

			.meta-label {
				color: $blue-gray;
			}

			a {
				color: $white;
				box-shadow: none;
			}
		}
	}
}
