/*====================================
=            Social Share            =
====================================*/

.addtoany_list {
	position: relative;
	line-height: inherit !important;
	min-height: 1px;


	.entry-share &::after {
		content: "";
		position: absolute;
		top: 38px;
		display: block;
		width: 150%;
		height: 1px;
		background-color: $blue-gray;

		@include breakpoint("medium") {
			display: none;
		}
	}

	a {
		margin-right: 0.75rem;
		float: left;
		font-size: 2rem;

		@include breakpoint("medium") {
			font-size: 1rem;
		}

		@include breakpoint("medium") {
			.entry-share &:nth-child(5) {
				clear: left;
			}
		}
	}

	.a2a_svg {
		background-color: transparent !important;

		&:before {
			font-family: 'asp';
			color: $dark-gray;
			line-height: 1;
			display: inline-block;
			vertical-align: middle;
			@include transition(color 0.3s ease-in-out);
		}

		&:hover::before {
			color: $orange;
		}

		/* Facebook */
		&.a2a_s_facebook:before {
			content: "\f231";
		}

		/* Twitter */
		&.a2a_s_twitter:before {
			content: "\f243";
		}

		/* LinkedIn */
		&.a2a_s_linkedin:before {
			content: "\f0e1";
		}

		/* Google Plus */
		&.a2a_s_google_plus:before {
			content: "\f234";
		}

		/* Print */
		&.a2a_s_print:before,
		&.a2a_s_printfriendly:before {
			content: "\e804";
		}

		/* Email */
		&.a2a_s_email:before {
			content: "\e801";
		}

		/* Copy Link */
		&.a2a_s_link:before {
			content: "\e805";
		}

		svg {display: none;}
	}

	& a>span {
		width: inherit !important;
		height: inherit !important;
		line-height: inherit !important;
		display: inline-block;
		vertical-align: middle;
		@include fontSize(20px);
	}
}

.sharing-inline {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-top: 2px solid $blue-gray;
	margin: 0.5rem 0 1rem 0;

	a {
		box-shadow: none; 
	}

	&-share {
		.meta-label {
			display: inline-block;
		}

		.addtoany_list {
			display: inline-block;
			line-height: 1 !important;

			a > span {
				@include fontSize(15px);
			}
		}
	}

	.a2a_s_link,
	.a2a_s_print,
	.a2a_s_printfriendly {
		display: none;
	}

	&-view {
		font-family: $font__abel;

		@include breakpoint("medium") {
			text-align: right;
		}

		a,
		a:visited {
			color: $orange;
			&:hover { color: $dark-orange; }
		}
	}

}
