/*=========================================
=            Table of Contents            =
=========================================*/

.toc-container {
	position: relative;
	order: 3;

	.toc-menu-link {
		background-color: transparent;
		margin: 0;
		padding: 0;

		i::before {
			transform: none;
            @include transition( transform .2s ease-in-out );
		}

		&.isExpanded i::before {
			transform: rotate(90deg);
		}
	}

	.toc-list {
		position: absolute;
		top: calc(100% + 0.55rem);
		right: 0;
		visibility: hidden;
		opacity: 0;
		background-color: $dark-blue;
		margin: 0;
		padding: 1rem 2rem;
		list-style: none;
		text-align: left;
		@include transition(visibility 0s, opacity .2s cubic-bezier(.33, 0, .2, 1));

		@include breakpoint("medium") {
			white-space: nowrap;
		}

		&.isActive {
			visibility: visible;
			opacity: 1;
		}

		&::before {
			content: '';
			position: absolute;
			left: 1rem;
			display: block;
			width: 2px;
			height: calc(100% - 2rem);
			background-color: $blue-gray;
		}

		li {
			margin-bottom: 0;
			padding: 0.5rem 0;
		}

		a {
			position: relative;
			color: $blue-gray;

			&:hover {
				color: $orange;
			}

			&.isActive {
				color: $white;

				&::before {
					content: '';
					position: absolute;
					left: -1rem;
					display: block;
					width: 2px;
					height: 100%;
					background-color: $orange;
				}
			}
		}
	}
}