/*=========================================
=            Table of Contents            =
=========================================*/

.toc-container {
	position: fixed;
	bottom: 9px;
	right: 3rem;
	z-index: 15;

	@include breakpoint("medium") {
		position: relative;
		order: 3;
		bottom: unset;
		right: unset;
		z-index: initial;
	}

	.toc-menu-link {
		background-color: transparent;
		margin: 0;
		padding: 0;
		color: $blue-gray;
		@include fontSize(14px);

		@include breakpoint("medium") {
			color: $white;
			@include fontSize(16px);
		}

		i::before {
			transform: none;
            @include transition( transform .2s ease-in-out );
		}

		&.isExpanded i::before {
			transform: rotate(-90deg);

			@include breakpoint("medium") {
				transform: rotate(90deg);
			}
		}
	}

	.toc-list {
		position: fixed;
		bottom: 2.5rem;
		left: 0;
		right: 0;
		visibility: hidden;
		opacity: 0;
		background-color: $dark-blue;
		margin: 0;
		padding: 1rem 2rem;
		list-style: none;
		text-align: left;
		@include transition(visibility 0s, opacity .2s cubic-bezier(.33, 0, .2, 1));

		@include breakpoint("medium") {
			position: absolute;
			top: calc(100% + 0.55rem);
			left: unset;
			bottom: unset;
		}

		&.isActive {
			visibility: visible;
			opacity: 1;
		}

		&::before {
			content: '';
			position: absolute;
			left: 1rem;
			display: block;
			width: 2px;
			height: calc(100% - 2rem);
			background-color: $blue-gray;
		}

		li {
			margin-bottom: 0;
			padding: 0.5rem 0;
		}

		a {
			position: relative;
			color: $blue-gray;

			&:hover {
				color: $orange;
			}

			&.isActive {
				color: $white;

				&::before {
					content: '';
					position: absolute;
					left: -1rem;
					display: block;
					width: 2px;
					height: 100%;
					background-color: $orange;
				}
			}
		}
	}
}