.alignleft {
	display: inline;
	float: left;

	@include breakpoint("small") {
		margin-right: 1.5em;
	}

	&.wp-caption {
		@include imgNegMargin('left');
	}

	.entry-content-post-body & {
		@include imgNegMargin('left');
		margin-top: 1rem;
		margin-bottom: 1.5rem;
	}

	& + .sharing-inline {
		clear: left;
	}
}

.alignright {
	display: inline;
	float: right;

	@include breakpoint("small") {
		margin-left: 1.5em;
	}

	&.wp-caption {
		@include imgNegMargin('right');
	}

	.entry-content-post-body & {
		@include imgNegMargin('right');
		margin-top: 1rem;
		margin-bottom: 1.5rem;
	}

	& + .sharing-inline {
		clear: right;
	}
}

.aligncenter {
	clear: both;
	@include center-block;
}

.alignleft,
.alignright {
	&.wp-caption {
		display: block;

		@include breakpoint("small") {
			max-width: 300px;
		}

		@include breakpoint("large") {
			max-width: 375px;
		}
	}
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}