/*===========================
=            404            =
===========================*/

.error-404 {
    margin-top: 4rem;

    .page-title { text-align: center; }

    .img404 {
        display: block;
        width: auto;
        height: auto;
        max-height: 600px;
        margin: 0 auto;
    }

    .post-content {
        @include breakpoint("medium") {
            padding-right: 3rem;
        }
    }

    p {
        @include fontSize(24px);
        line-height: 1.33;
        text-align: center;
    }

    .section-header {
        text-transform: uppercase;
        margin: 0 0 1rem;
        @include fontSize(25px);
    }

    .btn-container {
        text-align: center;

        @include breakpoint("small") {
            :first-child {
                text-align: right;
            }

            :last-child {
                text-align: left;
            }
        }
    }
}