/*===========================
=            Data           =
===========================*/

.data {

	/*----------  Content  ----------*/
	.entry-content {
		> :first-child {
			margin-bottom: 2rem;
		}

		> :last-child {
			margin-bottom: 4rem;
		}

	}

	/*----------  Data Sources  ----------*/
	.entry-data-source {
		order: 2;

		@include breakpoint("medium") {
			order: 1;
			padding-right: 2rem;
		}

		.data-sources {

			p {
				@extend %post-meta-content;
				margin-bottom: 0.75rem;
				overflow-wrap: break-word;
			}

			&-view {
				font-family: $font__abel;
				@include fontSize(16px);
				letter-spacing: 0.6px;
				text-transform: uppercase;
				color: $orange;
				margin-left: 0.5rem;
			}
		}
	}

	/*----------  Share  ----------*/
	.footer-top .entry-share {
		order: 1;

		@include breakpoint("medium") {
			order: 2;
		}
	}

	/*----------  Archive Link  ----------*/
	.entry-footer .return-to-archive {
		margin-top: 2rem;
	}
	
}

/*----------  Archives  ----------*/
.post-type-archive-data {
	.archive-pages-bottom {
		background-color: transparent;
		padding-top: 0;

		&::before {
			top: 0;
		}
	}

	.archive-content {
		padding: 0 $archive-content-padding;

        @include breakpoint("medium") {
            padding: 0 $archive-content-padding-md;
        }
	}

	/*----------  Data Table  ----------*/
	.dataTables_filter { display: none; }
	.dataTable {

		thead { display: none; }
		td {
			border: 0;
		}

		td:not(.display-column) {
			display: none;
		}

		.display-column {
			width: 100%;
			border-bottom: 1px solid $blue-gray;
			padding-bottom: 3rem;
		}

		tr:last-child .display-column {
			border-bottom: 0;
			padding-bottom: 4rem;
		}
	}

	.card-format {

		&.featured {
			.entry-main {
				padding-left: 1rem;
				padding-right: 0;
			}
		}

		.entry-meta .posted-on,
		.cat-links li,
		.entry-tags li {
			@include fontSize(16px);
			line-height: 2;
		}

		.posted-on::before {
			display: none;
		}

		.cat-links {
			&::before {
				content: "Categories";
				@extend .meta-label;
			}
		}
	}
}

