/*==============================
=            Events            =
==============================*/

.events {

	/*----------  Title & Hosted By  ----------*/
	.entry-host {
		margin-bottom: 1rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		@include fontSize(20px);
		line-height: 1.32;

		@include breakpoint("medium") {
			margin-top: -1rem;
			margin-bottom: 2rem;
			padding: 0;
		}
	}

	/*----------  Top Meta  ----------*/
	.entry-meta-bottom {
		.post-event-dates,
		.entry-location {
			@extend .meta-content;
			display: inline-block;
		}

		.btn-map {
			margin: 0 0 0 0.5rem;
		}
	}

	/*----------  Highlights  ----------*/
	.entry-highlights-content {
		.meta-label {
			@include breakpoint("medium") {
				display: block;
			}
		}

		& > :not(:last-child) {
			margin-bottom: 0.5rem;

			@include breakpoint("medium") {
				margin-bottom: 1rem;
			}
		}

		.entry-address br {
			content: " ";

			@include breakpoint("medium") {
				content: none;
				display: block;
			}
		}

		.btn-map {
			margin: 0 0 0 0.5rem;

			@include breakpoint("medium") {
				display: block;
				max-width: -moz-fit-content;
				max-width: fit-content;
				margin: 0.5rem 0 0 0;
			}
		}
	}

	/*----------  Past Event  ----------*/
	.past-event {
		@extend %subheading;
		text-transform: none;
		text-align: center;
	}

	/*----------  Buttons  ----------*/
	.btn-register {
		width: 100%;
		text-align: center;
		margin: 0 0 1rem 0;
	}

	.btn-watch {
		position: relative;
		text-transform: none;
		padding: 0;
		height: 45px;
		width: 250px;

		@include breakpoint("small") {
			width: 280px;
		}

		.icon-play {
			background-color: $dark-blue;
			color: $white;
			position: absolute;
		    left: 0;
		    top: 0;
		    width: 25%;
		    height: 100%;
		    padding-top: 0.7rem;
		}

		span {
			margin-left: 25%;
		    margin-top: 0.7rem;
		    display: inline-block;
		}

		.icon-external-open {
			@include fontSize(16px);
		}
	}

	/*----------  Footer Top  ----------*/
	.entry-register {
		order: 2;
		margin-bottom: 1rem;

		@include breakpoint("medium") {
			order: 1;
			padding-right: 2rem;
			margin-bottom: 0;
		}

		.btn-register {
			margin-top: 0.5rem;
			margin-bottom: 0;
		}
	}

	.entry-calendar {
		order: 3;
		margin-bottom: 1rem;

		@include breakpoint("medium") {
			order: 2;
			padding: 0 2rem;
			margin-bottom: 0;
		}
	}
}

/*----------  Event Archives  ----------*/
.post-type-archive-events {
	.archive-description-extra {
		@extend %list;

		.btn {
			margin: 0;
			padding: 0.5rem 1.5rem;
		}
	}

	.event-heading-dividers {
		position: relative;
		@extend .row;
		background-color: $white;
		margin-top: 0;
		margin-bottom: 0;
		padding: 4rem 4.5rem 0 4.5rem;
		@extend %subheading-lg;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -0.5rem;
			left: calc(4.5rem / 2);
			width: calc(100% - 4.5rem);
			height: 1px;
			background-color: $blue-gray;
		}

		& + .hentry {
			padding-top: 3rem;
		}
	}

	.site-main > h2:not(:first-of-type),
	.site-main > h3:not(:first-of-type) {
		display: none;
	}

	.events {
		.entry-host {
			position: relative;
			margin: -0.5rem 0 1rem;
			padding: 0;
			@extend %post-meta-content;

			.meta-label {
				padding-left: 1.25rem;
			}

			&::before {
				position: absolute;
				top: 4px;
				content: "\e806";
				font-family: "asp";
				color: $orange;
				@include fontSize(12px);
			}
		}
	}
}

.event-heading-dividers { display: none; }