/*=================================
=            Home Page            =
=================================*/

.home {
    background-color: $off-white;

    .site-main {
    	margin-top: 1rem;

    	@include breakpoint("medium") {
    		margin-top: 3rem;
    	}
    }

    .section-heading {
    	@extend %page-title;
    	font-weight: normal;
    	margin: 0 0 2rem 0;
    }

    .view-more {
        font-family: $font__abel;

		a {
			color: $orange;

			&:hover { color: $dark-orange; }
		}

		i {
			@include fontSize(26px);

			&::before {
				vertical-align: middle;
				margin-left: 0;
			}
		}
    }

    /*----------  Unset Default Page Styles  ---------*/
    .hentry {
    	.entry-header {
    		border-bottom: 0;
    		margin-bottom: 0;
    		text-align: left;

    		.entry-title {
    			margin-bottom: 1rem;
    			line-height: 1.3;
    		}
    	}

    	.entry-thumbnail {
    		padding-left: 0;
    		padding-right: 0;

    		@include breakpoint("medium") {
    			padding-left: 0.5rem;
    			padding-right: 0.5rem;
    		}
    	}

        .meta-label {
            line-height: 1.5;
        }

        .entry-meta {
            margin-top: 0.5rem;
        }
    }

    /*----------  Main Feature  ----------*/
    .feature-main {
    	margin-bottom: 0;

    	@include breakpoint("medium") {
    		margin-bottom: 3rem;
    	}

    	.hentry {
    		padding: 0;

    		.entry-header .entry-title {
    			@extend %subheading-lg;
    			text-transform: none;
    		}

            .authors-list::after {
                display: none;
            }

            .posted-on {
                display: block !important;
            }

    		.entry-main {
    			padding: 1rem;

    			@include breakpoint("medium") {
    				padding: 3rem 4rem;
    			}
    		}
    	}

    	.post-is-featured { display: none; }
    }

    /*----------  Secondary Features  ----------*/
    .feature-secondary {
    	.subheading {
    		@extend %subheading;
            @include fontSize(16px);
    		color: $gray;
    		margin-top: 0;
    	}

    	&-posts {
    		background-color: $white;
    		@extend .content-padding;
    		padding-top: 2.5rem;

    		.subheading {
    			letter-spacing: 0.5px;
    			border-bottom: 1px solid $light-gray;
    			padding: 0 1.5rem 0.5rem;
    			margin-left: 0.5rem;
    			margin-right: 0.5rem;
    			margin-bottom: 1rem;

    			@include breakpoint("medium") {
    				margin-left: 0;
    				margin-right: 0;
    				margin-bottom: 0;
    			}
    		}
    	}

    	.post.hentry {
    		padding: 0;
    		margin-left: 0;
    		margin-right: 0;

    		@include breakpoint("medium") {
    			padding: 2rem 2rem 2.5rem 2rem;
    			margin-left: -0.5rem;
    			margin-right: -0.5rem;
    		}

            .entry-thumbnail {
                padding-left: 0.5rem;
                padding-right: 0.5rem;

                @include breakpoint("small") {
                    padding-left: 0;
                    padding-right: 0;
                }

                a {
                    height: 170px;
                }

                img {
                    min-height: 170px;
                    object-fit: cover;
                }
            }

    		.entry-header .entry-title {
    			@extend %archive-post-title-md;
    			margin-bottom: 0.5rem;
    			font-weight: normal;

    			a {
    				color: $black;

    				&:hover { color: $orange; }
    			}
    		}

    		.entry-main {
    			padding: 1rem;

    			@include breakpoint("medium") {
    				padding: 0 0 0 2rem;
    			}
    		}

    		.post-is-featured { display: none; }
    	}

    	.post + .post {
    		padding-top: 1rem;
    	}

    	&-posts-more {
    		border-top: 3px solid $dark-blue;
    		margin: 1rem 1rem 3rem;
    		text-align: right;
    		font-family: $font__abel;

    		@include breakpoint("medium") {
    			margin-left: 1.5rem;
    			margin-right: 1.5rem;
    		}
    	}
    }

    .feature-secondary-sidebar {
        margin-top: 2rem;
    	padding-bottom: 2rem;

    	@include breakpoint("medium") {
            margin-top: 0;
    		padding: 0 3rem;
    	}

    	.hentry {
    		background-color: transparent;
    	}

    	.subheading {
    		border-bottom: 2px solid $light-gray;
    		padding: 0 0.5rem 0.5rem;
    	}

    	/*----------  Event  ----------*/
    	&-events {
    		margin-top: 0;
    		margin-bottom: 3rem;

    		@include breakpoint("medium") {
    			margin-bottom: 2rem;
    		}

    		.calendar-container {
    			padding-top: 0.5rem;
    			width: unset;
    			height: unset;
    			border-right: 1px solid $light-gray;

                &:hover::after {
                    display: none;
                }

    			a {
    				color: $orange;

    				&:hover { color: $dark-orange; }
    			}

    			.month {
    				@include fontSize(21px);
    				line-height: 1.9;
    				letter-spacing: 1.3px;
    			}

    			.day {
    				@include fontSize(40px);
    				line-height: 0.87;
    				letter-spacing: 2.8px;

    				@include breakpoint("medium") {
    					@include fontSize(46px);
    				}
    			}
    		}

    		.hentry {
    			padding: 0;

	    		.entry-header .entry-title {
	    			@extend %archive-post-title;
	    			margin: 1rem 0 0.5rem;
	    			font-weight: normal;
                    line-height: 1.3;

	    			a {
	    				color: $black;
	    				&:hover { color: $orange; }
	    			}
	    		}

	    		.entry-host {
	    			margin-top: 0;
	    			padding-left: 0;
	    			@include fontSize(14px);
	    			line-height: 1.43;
	    		}
	    	}
    	}

    	/*----------  Recent Articles  ----------*/
    	&-recent {
    		.post.hentry {
    			padding: 1rem 0.5rem;

    			.post-format {
	    			color: $orange;
	    		}

	    		.entry-header {
	    			.entry-title {
	    				@include fontSize(20px);
	    				margin-bottom: 0;

	    				a {
	    					color: $black;

	    					&:hover { color: $orange; }
	    				}
	    			}
	    		}

	    		.entry-main { padding: 0 0.5rem; }

	    		.authors-list,
	    		.posted-on {
	    			display: block;
	    			@include fontSize(14px);
	    		}

	    		.authors-list a {
	    			box-shadow: none;
	    			color: $black;
	    		}
    		}
    	}
    }

    /*----------  Featured Aerospace101  ----------*/
    .feature-aerospace101 {
    	position: relative;
    	background-color: $dark-blue;
    	padding: 4rem 0;
    	color: $white;
    	@include fullWidthBackground($dark-blue);

    	&::after {
    		@include breakpoint("medium") {
	    		background-image: url($img__hp-aerospace101-bg);
	    		background-repeat: no-repeat;
	    		background-size: cover;
                width: 42vw;
	    		left: 66%;
	    	}
    	}

    	&-content {
    		margin: 0 1rem;

    		@include breakpoint("medium") {
    			max-width: calc(66% - 6rem);
    			margin: 0 auto 0 4rem;
    		}
    	}

    	.section-heading {
    		color: $white;
    	}

    	p {
    		@include fontSize(20px);
    		line-height: 1.6;
    		font-weight: 300;
    	}

    	.view-more {
    		font-family: $font__abel;

    		a {
    			color: $orange;

    			&:hover { color: $dark-orange; }
    		}
    	}

    	.hentry {
    		margin-top: 2rem;
    		background-color: transparent;
    		padding: 0 2rem;
    		border-left: 1px solid $dark-blue-gray;

    		.entry-header .entry-title {
    			@include fontSize(22px);
    			font-weight: normal;
    			margin-bottom: 0;

    			a {
    				color: $white;
    			}
    		}

    		.post-is-featured {
                @include fontSize(14px);
    			color: $blue-gray;
    		}

    		.meta-label { color: $blue-gray; }
    		.posted-on { color: $white; }
    	}
    }

    /*----------  Featured Final  ----------*/
    .feature-final {
    	&-data {
    		padding: 2rem 1rem;
    		background-color: $white;

    		@include breakpoint("medium") {
    			padding: 4rem;
    		}

    		&-desc {
    			margin-bottom: 2rem;
    		}

    		&-thumbnail {
    			padding-right: 1rem;
    		}
    	}

    	.view-more {
    		border-top: 3px solid $dark-blue;
    		text-align: right;

    		@include breakpoint("medium") {
    			margin-left: -2rem;
    			margin-right: -2rem;
    			padding-right: 2rem;
    		}
    	}

    	.hentry {
    		padding: 0 1rem 0.5rem;

    		@include breakpoint("medium") {
    			padding: 0 3rem 0.5rem 0.5rem;
    		}

    		.entry-header .entry-title {
    			@extend %archive-post-title;
    			margin-bottom: 0.5rem;
                font-weight: normal;
                line-height: 1.3;

    			a {
    				color: $black;
    				&:hover { color: $orange; }
    			}
    		}
    	}

    	.post-is-featured {
    		@include fontSize(14px);
    	}

    	.hentry + .hentry {
    		padding-top: 1rem;
    		@include breakpoint("medium") {
	    		padding-left: 3rem;
	    		padding-right: 0.5rem;
	    		border-left: 1px solid $blue-gray;
	    	}
    	}
    }
}
