/*=============================
=            Posts            =
=============================*/

.single {
    .site-content {
        background-color: $off-white;
        &.is-minimal {
            margin-top: 0;
        }
    }

    .site-main {
        background-color: $white;
        padding: 1.5rem;

        @include breakpoint("medium") {
            margin-top: 1rem;
            padding: 3rem;
        }
    }

    .content-padding {
        @include contentWidth(2rem, 2rem, 4rem);
        padding-left: 0;
        padding-right: 0;
    }

    .entry-meta-top,
    .title-container,
    .footer-top {
        border-bottom: 3px solid $dark-blue;
    }

    .entry-meta-top {
        position: relative;
        flex-wrap: nowrap;

        @include breakpoint("xsmall") {
            margin: 0;
        }

        @include breakpoint("medium") {
            &::after {
                content: "";
                position: absolute;
                top: -1rem;
                right: calc(#{$size__highlights-max-width} + 0.55rem);
                height: 100%;
                width: 3px;
                background-color: $blue-gray;

                @include breakpoint("large") {
                    right: calc(#{$size__highlights-max-width} + 1rem);
                }
            }
        }
    }

    .title-container {
        margin-bottom: 2rem;

        .entry-title {
            @extend %post-title;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;

            @include breakpoint("small") {
                margin-top: 2rem;
                margin-bottom: 2rem;
                padding-left: 0rem;
                padding-right: 0rem;
            }
        }

        .entry-meta-bottom {
            border-top: 2px solid $blue-gray;
            padding: 0.2rem 0.5rem;

            @include breakpoint("small") {
                padding-left: 0rem;
                padding-right: 0rem;
            }
        }
    }

    .post-format-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $dark-blue;
        color: $white;
        flex: 1 0 auto;
        max-width: fit-content;
        margin-right: 1rem;

        .post-format {
            padding: 0.2rem 1.5rem 0;
            color: $white;
        }
    }

    .posted-on {
        margin-right: 2rem;
    }

    .entry-content {
        margin-bottom: 3rem;

        &-post-body {
            margin: 0 auto;
            @include postBodyMaxWidth();
        }
    }

    .entry-thumbnail {
        display: inline-block;
        max-width: calc(100% - #{$size__highlights-max-width} - #{$size__highlights-margin-left});
        margin: 0 0 $size__highlights-margin-bottom 0;
        padding-top: $size__highlights-padding-top;
        text-align: left;

        img {
            max-height: 400px;
            display: block;
        }
    }

    .entry-highlights {
        float: right;
        max-width: $size__highlights-max-width;
        height: 100%;
        margin: 0 0 $size__highlights-margin-bottom $size__highlights-margin-left;
        padding: $size__highlights-padding-top 2rem;
        border-left: 3px solid $blue-gray;

        ol,
        ul {
            margin: 0;
            padding: 0;
        }
    }

    .footer-top {

        @include breakpoint("medium") {
            > div:not(:first-child) {
                border-left: 3px solid $blue-gray;
            }
        }

        .entry-citation {
            order: 2;

            @include breakpoint("medium") {
                order: 1;
                padding-right: 2rem;
            }

            .btn {
                display: inline-block;
                @include fontSize(12px);
                margin: 0 0 0 0.5rem;
                padding: 0.3rem 0.5rem;
            }
        }

        .entry-citation,
        .entry-share {
            padding-bottom: 0.75rem;
        }

        .entry-share {
            order: 1;
            margin-bottom: 0.75rem;

            @include breakpoint("medium") {
                order: 2;
                margin-bottom: 0;
            }
        }

        .share-container {
            max-width: -moz-fit-content;
            max-width: fit-content;
            
            @include breakpoint("medium") {
                padding-left: 1rem;
            }
        }

        .meta-label {
            display: block;

            @include breakpoint("medium") {
                margin-top: -2rem;
            }
        }
    }

    .footer-middle {
        $spacing: 2rem;

        .entry-footnotes,
        .entry-sources {
            background-color: $off-white;
            padding: $spacing;
            @extend %list;

            .subheading {
                @extend %subheading;
                margin: 0 0 1rem 0;
            }

            p {
                margin-bottom: 0.75rem;
            }
        }

        .entry-footnotes {
            margin-top: $spacing;
            @include breakpoint("medium") {
                margin-bottom: $spacing;
            }
        }

        .entry-sources {
            margin-bottom: $spacing;
            padding-top: 0;

            @include breakpoint("medium") {
                padding-top: $spacing;
                margin-top: $spacing;
            }
        }
    }

}

.single-post {

}

// Card Format for archives & search results.
.article-card {

}

// Post Title if Thumbnail on card layout
.article-card.has-post-thumbnail .post-format {
  padding: 1rem 1rem 0.5rem 0;

  @include breakpoint("medium") {
    padding: 0 1rem 0 0;
  }
}

//  Full Width Content 
.fullWidthFeatureContent {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;

    .fullWidthInner {
        margin: 0 auto;
        @include breakpoint("small") {
            max-width: 95% !important;
        }
    }

    .overlay-isActive & {
        position: static;
    }

    @include breakpoint("medium") {
        .sharing-shareBtns.isVisible {
            max-width: $size__content-max-width;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
