/*=============================
=            Posts            =
=============================*/

.single {
    .site-content {
        background-color: $off-white;
        &.is-minimal {
            margin-top: 0;
        }
    }

    .hentry {
        background-color: $white;
        padding: 1.5rem 1.5rem 0 1.5rem;

        @include breakpoint("medium") {
            margin-top: 1rem;
            padding: 3rem 3rem 0 3rem;
        }
    }

    .content-padding {
        @include contentWidth(2rem, 2rem, 4rem);
        padding-left: 0;
        padding-right: 0;
    }

    .entry-meta-top,
    .title-container,
    .footer-top {
        border-bottom: 3px solid $dark-blue;
    }

    .entry-meta-top {
        position: relative;
        flex-wrap: nowrap;

        @include breakpoint("xsmall") {
            margin: 0;
        }

        @include breakpoint("medium") {
            &::after {
                content: "";
                position: absolute;
                top: -1rem;
                right: calc(#{$size__highlights-max-width} + 0.55rem);
                height: 100%;
                width: 3px;
                background-color: $blue-gray;

                @include breakpoint("large") {
                    right: calc(#{$size__highlights-max-width} + 1rem);
                }
            }
        }
    }

    .title-container {
        margin-bottom: 1rem;

        @include breakpoint("medium") {
            margin-bottom: 2rem;
        }

        .entry-title {
            @extend %post-title;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;

            @include breakpoint("small") {
                margin-top: 2rem;
                margin-bottom: 2rem;
                padding-left: 0rem;
                padding-right: 0rem;
            }
        }

        .entry-meta-bottom {
            border-top: 2px solid $blue-gray;
            padding: 0.2rem 0.5rem;

            @include breakpoint("small") {
                padding-left: 0rem;
                padding-right: 0rem;
            }

            > :not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

    .post-format-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $dark-blue;
        color: $white;
        flex: 1 0 auto;
        max-width: fit-content;
        margin-right: 1rem;

        .post-format {
            padding: 0.2rem 1.5rem 0;
            color: $white;
        }
    }

    .entry-content {
        margin-bottom: 3rem;

        &-post-body {
            margin: 0 auto;
            @include postBodyMaxWidth();
        }
    }

    .entry-thumbnail {
        margin: 0 0 1.5rem 0;
        padding-top: $size__highlights-padding-top;
        text-align: left;

        @include breakpoint("medium") {
            margin-bottom: $size__highlights-margin-bottom;
            display: inline-block;
            max-width: calc(100% - #{$size__highlights-max-width} - #{$size__highlights-margin-left});

            &:first-child {
                max-width: 100%;
                display: block;

                img {
                    margin: 0 auto;
                    width: auto;
                }

                .wp-caption-text {
                    @include postBodyMaxWidth();
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        img {
            max-height: 400px;
            display: block;
        }
    }

    .entry-highlights {
        @include breakpoint("medium") {
            background-color: transparent;
            float: right;
            width: $size__highlights-max-width;
            height: 100%;
            margin: 0 0 $size__highlights-margin-bottom $size__highlights-margin-left;
            padding: $size__highlights-padding-top 2rem;
            border-left: 3px solid $blue-gray;
        }

        &-title {
            @extend %subheading;
            text-transform: uppercase;
            background-color: $off-white;
            padding: 0.5rem;

            @include breakpoint("medium") {
                background-color: transparent;
                padding: 0 0 1rem 0;
            }

            i {
                @include breakpoint("medium") {
                    display: none;
                }

                &::before {
                    transform: none;
                    @include transition( transform 400ms ease-in-out );
                }

                &.rotated::before {
                    transform: rotate(90deg);
                }
            }

        }

        &-content {
            display: none;
            padding: 0.5rem 0.9rem;
            background-color: $off-white;

            @include breakpoint("medium") {
                display: block;
                background-color: transparent;
                padding: 0;
            }
        }

        ol,
        ul {
            margin: 0;
            padding: 0 0 0 1.5rem;
            line-height: 1.5;

            @include breakpoint("medium") {
                padding-left: 1.2rem;
            }
        }

        p {
            margin-bottom: 0.5rem;
        }

        & + .entry-content-post-body {
            margin-top: 1.5rem;
        }
    }

    .footer-top {

        @include breakpoint("medium") {
            > div:not(:first-child) {
                border-left: 3px solid $blue-gray;
            }
        }

        .entry-citation {
            order: 2;

            @include breakpoint("medium") {
                order: 1;
                padding-right: 2rem;
            }

            .btn {
                display: inline-block;
                @include fontSize(12px);
                margin: 0 0 0 0.5rem;
                padding: 0.3rem 0.5rem;
            }
        }

        .entry-citation,
        .entry-share {
            padding-bottom: 0.75rem;
        }

        .entry-share {
            order: 1;
            margin-bottom: 0.75rem;

            @include breakpoint("medium") {
                order: 2;
                margin-bottom: 0;
            }
        }

        .share-container {
            max-width: -moz-fit-content;
            max-width: fit-content;
            
            @include breakpoint("medium") {
                padding-left: 1rem;
            }
        }

        .meta-label {
            display: block;

            @include breakpoint("medium") {
                margin-top: -2rem;
            }
        }
    }

    .footer-middle {
        $spacing: 2rem;
        margin-top: $spacing;

        .entry-footnotes,
        .entry-sources {
            background-color: $off-white;
            padding: $spacing;
            @extend %list;

            .subheading {
                @extend %subheading;
                margin: 0 0 1rem 0;
            }

            p {
                margin-bottom: 0.75rem;
            }
        }

        .entry-footnotes {
            @include breakpoint("medium") {
                margin-bottom: $spacing;
            }
        }

        .entry-sources {
            margin-bottom: $spacing;
            padding-top: 0;

            &:first-child {
                padding-top: $spacing;
            }

            @include breakpoint("medium") {
                padding-top: $spacing;
            }
        }
    }

    /*----------  Return to Archives  ----------*/
    .site-main > .return-to-archive {
        @extend .content-padding;
        margin-top: 2rem;
    }
    .entry-content .return-to-archive {
        text-align: center;
        margin-bottom: 0rem;

        @include breakpoint("medium") {
            margin-bottom: 3rem;
        }
    }

    /*----------  View Report  ----------*/
    .post-report {
        margin-bottom: 1rem;

        @include breakpoint("medium") {
            margin-bottom: 2rem;
        }

        a { box-shadow: none; }
        .btn-download {
            margin-top: 0.5rem;
            margin-bottom: 0;
        }
    }

}

// Card Format for archives & search results.
.article-card {

}

/*----------  Subsection comment block  ----------*/
.img-aircraft {
    max-width: 7px;
    margin-left: 5px;
}
