/*==============================
=            Search            =
==============================*/

/*----------  Search Page  ----------*/
.search-page {

    /*----------  Header  ----------*/
    .page-header {
        .page-title {
            margin-bottom: 1rem;
        }
    }

    /*----------  Main Content  ----------*/
    .archive-content {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        padding: 0 $archive-content-padding;

        @include breakpoint("medium") {
            padding: 0 $archive-content-padding-md;
        }
    }

    /*----------  Bottom  ----------*/
    
    .archive-pages-bottom {
        background-color: transparent;
    }
}

/*----------  No Results  ----------*/
.no-results {
	.entry-content {
		background-color: $white;
		text-align: center;
		padding: $archive-content-padding;

        @include breakpoint("medium") {
            padding: $archive-content-padding-md;
        }

        .subheading {
        	@extend %subheading;
        	text-transform: none;
        	margin-bottom: 1rem;
        }

        p {
        	@include fontSize(16px);
        	max-width: 50%;
        	margin: 0 auto;
        }
	}
}
