/*================================
=            Calendar            =
================================*/

.calendar-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: $font__abel;
	line-height: 1;
	margin: 0 auto;
	overflow: hidden;
	width: 22vw;
	height: 22vw;
	max-width: 175px;
	max-height: 175px;

	@include breakpoint("small") {
		width: 15vw;
		height: 15vw;
	}

	@include breakpoint("medium") {
		width: 12vw;
		height: 12vw;
		max-width: 150px;
		max-height: 150px;
	}

	&::after {
		content: '';
		position: absolute;
		width: 1100%;
		height: 1100%;
		bottom: 20px;
		right: -500%;
		background-color: $off-white;
		transform-origin: 54% 100%;
		transform: rotate(-45deg);
		z-index: 1;
	}

	&:hover::after {
		background-color: $orange;
	}

	&:hover a {
		color: $white;
	}

	a {
		color: $dark-blue;
		transition: none;
	}

	.month,
	.day {
		display: block;
		position: relative;
		z-index: 10;
	}

	.month {
		@include fontSize(20px);
		text-transform: uppercase;

		@include breakpoint("small") {
			@include fontSize(22px);
		}

		@include breakpoint("medium") {
			@include fontSize(23px);
		}

		@include breakpoint("large") {
			@include fontSize(27px);
		}
	}

	.day {
		@include fontSize(26px);

		@include breakpoint("small") {
			@include fontSize(34px);
		}

		@include breakpoint("medium") {
			@include fontSize(38px);
		}

		@include breakpoint("large") {
			@include fontSize(59px);
		}
	}
}

/*----------  Add to Calendar  ----------*/
/* Hide button at load */
.addeventatc {visibility:hidden;}

/* Make sure the options layer / dropdown is always visible */
.addeventatc_dropdown {display:block!important;}

/* Some demo styling of the options */
.addeventatc_dropdown span {
	display: block;
	margin: 0 0 0.5rem;
	font-family: $font__abel;
	@include fontSize(12px);
	line-height: 1;
	text-transform: none;
	letter-spacing: 0.4px;
	padding: 0.3rem 0.5rem;
	background-color: $color__background-button-gray;
	color: $black;
	max-width: -moz-fit-content;
	max-width: fit-content;
	cursor: pointer;

	&:visited {
		color: $black;
	}

	&:hover {
		background-color: $color__background-button-gray-hover;
		color: $white;
	}
}
.addeventatc_dropdown span em { display: none; }

.addeventatc_dropdown {
	.ateoutlook,
	.ateoutlookcom {
		display: inline-block;
		margin-right: 0.5rem;
		margin-top: 0;
	}
}

/* Remove the AddEvent credits */
.addeventatc_dropdown .copyx {display:none;}
