/*==============================
=            Search            =
==============================*/

/*----------  Search Page  ----------*/
.search-page {

    /*----------  Header  ----------*/
    .page-header {
        .page-title {
            margin-bottom: 1rem;
        }
    }

    /*----------  Main Content  ----------*/
    .archive-content {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        padding: 0 $archive-content-padding;

        @include breakpoint("medium") {
            padding: 0 $archive-content-padding-md;
        }

        .no-results {
            background-color: $white;
            padding: 3rem;
            text-align: center;

            .subheading {
                @extend %subheading;
                border-bottom: 0;
                margin: 0 0 1rem 0;
            }

            p {
                max-width: 50%;
                margin: 0 auto;
            }
        }

        .archive-content-posts {
            margin: 0;

            @include breakpoint("medium") {
                margin-left: -0.5rem;
                margin-right: -0.5rem;
            }
        }

        .hentry {
            margin-left: 0;
            margin-right: 0;
        }

        // &:not(.post_types-multimedia) .multimedia-post { display: none; }
        &.post_types-multimedia .multimedia-post {
            position: absolute;
            left: 0.5rem;
            top: 0.25rem;

            i {
                @include fontSize(20px);
                color: $primary-blue;
                background-color: transparentize($white, 0.3);
                border-radius: 50%;

                &::before {
                    margin-right: 0;
                    padding-top: 0.2rem;
                }
            }
        }

        .card-format .entry-thumbnail {
            a { height: 150px; }
            img { min-height: 150px; }
        }

        article:last-of-type {
            padding-bottom: $archive-content-padding;

            @include breakpoint("medium") {
                padding-bottom: $archive-content-padding-md;
            }
        }

        .entry-content p {
            margin-bottom: 0;
        }
    }

    /*----------  Bottom  ----------*/
    
    .archive-pages-bottom {
        background-color: transparent;
    }
}

/*----------  No Results  ----------*/
.no-results {
	.entry-content {
		background-color: $white;
		text-align: center;
		padding: $archive-content-padding;

        @include breakpoint("medium") {
            padding: $archive-content-padding-md;
        }

        .subheading {
        	@extend %subheading;
        	text-transform: none;
        	margin-bottom: 1rem;
        }

        p {
        	@include fontSize(16px);
        	max-width: 50%;
        	margin: 0 auto;
        }
	}
}

