/*==============================
=            Colors            =
==============================*/
$black: #000;
$dark-gray: #4a4a4a;
$white: #fff;
$off-white: #f2f2f2;
$darkest-blue: #122b3c;
$dark-blue: #18384f;
$secondary-blue: #196c94;
$primary-blue: #185271;
$orange: #d66e42;
$dark-orange: #b25b36;
$gray: #8c8c8c;
$light-gray: #d8d8d8;
$blue-gray: #b5bdc1;
$dark-blue-gray: #5b6d76;

$color__background-body: $white;
$color__background-screen: $white;
$color__background-hr: $blue-gray;
$color__background-hr-stat-home: #dbd9d7;
$color__navigation-border: #dfdfdf;
$color__background-button-gray: #d6d6d6;
$color__background-button-blue: $dark-blue;
$color__background-button-blue-hover: #1b5e81;
$color__background-button-orange: $orange;
$color__background-button-orange-hover: $dark-orange;
$color__background-button-gray: #dedede;
$color__background-button-gray-hover: $dark-orange;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-tooltip: rgba(0,0,0,0.8);
$color__background-nav-overlay: #53636b;
$color__background-nav-overlay-heading: #4a5b63;
$color__background-share-divider: $color__background-hr-stat-home;
$color__background-btn-view: #d1d8dc;
$color__background-btn-view-hover: $color__background-button-gray;
$color__background-input: #fafafa;
$color__background-archive-sidebar: #e5e5e5;
$color__background-checkbox: #e6e6e6;
$color__background-keywords: #102738;

$color__text-screen: $black;
$color__text-input: $gray;
$color__text-input-focus: $black;
$color__link: $black;
$color__link-visited: $dark-blue;
$color__link-hover: $secondary-blue;
$color__text-main: $black;
$color__text-copyright: #8c898c;
$color__text-seeMore: #797679;
$color__text-statIcon: #698491;
$color__text-h6: #1c2e36;
$color__text-captions: #808081;

$color__border-input: $dark-blue;
$color__border-abbr: #666;

$color__facebook: #3b5998;
$color__twitter: #00aced;
$color__linkedin: #0077b5;
$color__email: $orange;

/*==================================
=            Typography            =
==================================*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,600i,700,700i|Abel');

$font__abel: 'Abel', sans-serif;
$font__source: "Source Sans Pro", sans-serif;


$font__main: $font__source;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.67;
$font__line-height-pre: 1.6;



/*=================================
=            Structure            =
=================================*/

$size__container-max-width: 1200px;
$size__content-max-width: 700px;
$size__header-top-height: 40px;
$size__header-bottom-height: 50px;
$size__header-bottom-height-mobile: 60px;
$size__homepage-block-height: 15rem;
$size__homepage-block-height-2x: 31rem;
$size__homepage-block-height-mobile: 10.3rem;

$size__header-mobile-height: 52px;
$size__header-sm-height: 70px;
$size__header-lg-height: 270px; 
$size__footer-height: 314px;

$size__content-max-width-sm: 687px;
$size__content-max-width-md: 944px;
$size__content-max-width-lg: 1028px;

$size__post-body-padding-sm: 2.3rem;
$size__post-body-padding-md: 13.4rem;
$size__post-body-padding-lg: 22rem;

$size__highlights-max-width: 25%;
$size__highlights-margin-left: 2rem;
$size__highlights-margin-bottom: 2rem;
$size__highlights-padding-top: 0.5rem;

/*==============================
=            Assets            =
==============================*/

$theme_folder: '/wp-content/themes/aerospace/';
$img__header-bg: $theme_folder + 'img/header-background.png';
$img__footer-bg: $theme_folder + 'img/footer-lg.png';

